* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #e8e8e8;
  color: #070b63;
  font-family: "DM Sans", sans-serif;
  margin-left: 32px;
}

/* =========================
   COLOR PALETTE
========================= */

/* .palette { */
/* position: fixed;
    top: 0%;
    left:0%;
    /* transform: translateX(-50%); */

/* display: block;
    gap: 0px;

    z-index: 100; */
/* } */
*/

/* .color {
    width:0%;
    height: 0%;

    border-radius: 10px;

    display: block;
}

.blue {
    background: #070b63;
}

.green {
    background: #514d05;
}

.yellow {
    background: #f4ed72;
}

.cream {
    background: #fffbd8;
} */


/* =========================
   PORTFOLIO CONTAINER
========================= */

.portfolio {
  width: min(100%, 900px);

  margin: 125px auto 50px;

  background: #fffbd8;

  padding: 0 55px;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);
}

/* =========================
   NAVBAR
========================= */

.navbar {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Space Grotesk", sans-serif;

  font-size: 18px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #070b63;

  text-decoration: none;

  font-size: 11px;
  font-weight: 600;

  transition: 0.2s;
}

.nav-links a:hover {
  color: #8d8800;
}

.nav-button {
  padding: 10px 16px;

  background: #f4ed72;

  color: #070b63;

  text-decoration: none;

  font-size: 11px;
  font-weight: 700;

  border-radius: 4px;
}

/* =========================
   HERO
========================= */

.hero {
  min-height: 430px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 40px;
}

.hero-text {
  max-width: 450px;
}

.small-text {
  font-size: 13px;

  margin-bottom: 12px;
}

.hero h1 {
  font-family: "Space Grotesk", sans-serif;

  font-size: clamp(48px, 7vw, 78px);

  line-height: 0.9;

  letter-spacing: -4px;

  margin-bottom: 25px;
}

.hero h1 span {
  color: #f0e85d;
}

.description {
  max-width: 350px;

  font-size: 13px;
  line-height: 1.7;

  margin-bottom: 25px;
}

.hero-buttons {
  display: flex;
  gap: 10px;
}

.primary-btn,
.secondary-btn {
  display: inline-block;

  padding: 12px 18px;

  text-decoration: none;

  font-size: 11px;

  font-weight: 700;

  border-radius: 4px;
}

.primary-btn {
  background: #070b63;
  color: white;
}

.secondary-btn {
  border: 1px solid #070b63;
  color: #070b63;
}

/* =========================
   PROFILE
========================= */

.profile-container {
  position: relative;

  width: 300px;
  height: 300px;

  flex-shrink: 0;
}

.profile-circle {
  width: 250px;
  height: 250px;

  border-radius: 50%;

  overflow: hidden;

  border: 2px solid #070b63;

  position: absolute;

  top: 25px;
  left: 22px;

  background: #f4ed72;
}

.profile-circle img {
  width: 100%;
  height: 100%;

  object-fit:cover;
}

.circle-line {
  position: absolute;

  width: 270px;
  height: 270px;

  border: 1px dashed #070b63;

  border-radius: 50%;

  top: 15px;
  left: 10px;
}

.star {
  position: absolute;

  font-size: 30px;

  font-weight: bold;

  z-index: 3;
}

.star-one {
  top: 5px;
  right: 10px;
}

.star-two {
  bottom: 30px;
  left: 0;
}

/* =========================
   SECTIONS
========================= */

.section {
  padding: 80px 0;
}

.section h2 {
  font-family: "Space Grotesk", sans-serif;

  font-size: 70px;

  line-height: 1;

  letter-spacing: -4px;

  color: #f1e966;

  margin-bottom: 25px;
}

.intro {
  max-width: 600px;

  font-size: 13px;

  line-height: 1.8;

  margin-bottom: 15px;
}

/* =========================
   TIMELINE
========================= */

.timeline {
  margin-top: 45px;

  margin-left: 100px;
}

.timeline-item {
  display: grid;

  grid-template-columns: 15px 1fr;

  gap: 15px;

  margin-bottom: 40px;
}

.dot {
  width: 7px;
  height: 7px;

  background: #070b63;

  border-radius: 50%;

  margin-top: 6px;
}

.timeline-item h3 {
  font-size: 12px;

  margin-bottom: 8px;
}

.timeline-item p {
  max-width: 500px;

  font-size: 11px;

  line-height: 1.7;
}

/* =========================
   SKILLS
========================= */

.skills-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 12px;

  margin-top: 40px;
}

.skill {
  padding: 25px;

  border: 1px solid rgba(7, 11, 99, 0.25);

  min-height: 160px;

  transition: 0.3s;
}

.skill:hover {
  transform: translateY(-5px);

  background: #f4ed72;
}

.skill span {
  font-size: 10px;

  opacity: 0.6;
}

.skill h3 {
  font-family: "Space Grotesk", sans-serif;

  font-size: 18px;

  margin: 20px 0 10px;
}

.skill p {
  font-size: 11px;

  line-height: 1.6;
}

/* =========================
   PROJECTS
========================= */

.projects {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 35px 25px;

  margin-top: 40px;
}

.project {
  overflow: hidden;
}

.project img {
  width: 100%;

  height: 190px;

  object-fit: cover;

  display: block;

  filter: saturate(0.9);

  transition: 0.3s;
}

.project:hover img {
  transform: scale(1.03);
}

.project-info {
  padding-top: 15px;
}

.project-info small {
  font-size: 8px;

  opacity: 0.7;
}

.project-info h3 {
  font-family: "Space Grotesk", sans-serif;

  font-size: 20px;

  margin: 7px 0;
}

.project-info p {
  font-size: 11px;

  line-height: 1.6;

  margin-bottom: 12px;
}

.tags {
  display: flex;

  flex-wrap: wrap;

  gap: 5px;
}

.tags span {
  background: #f4ed72;

  padding: 5px 8px;

  font-size: 8px;

  border-radius: 3px;
}

/* =========================
   CONTACT
========================= */

.contact-content {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 25px;

  align-items: center;
}

.contact-image img {
  width: 100%;

  height: 200px;

  object-fit: cover;
}

.contact-text {
  display: flex;

  flex-direction: column;

  gap: 12px;
}

.contact-text p {
  font-size: 12px;

  line-height: 1.7;

  margin-bottom: 8px;
}

.contact-text a {
  color: #070b63;

  font-size: 11px;

  text-decoration: none;

  font-weight: 600;
}

.contact-text a:hover {
  text-decoration: underline;
}

/* =========================
   FOOTER
========================= */

footer {
  border-top: 1px solid rgba(7, 11, 99, 0.2);

  padding: 25px 0;

  display: flex;

  justify-content: space-between;

  font-size: 10px;
}

footer a {
  color: #070b63;

  text-decoration: none;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 700px) {
  .portfolio {
    margin-top: 100px;

    padding: 0 25px;
  }

  .nav-links {
    display: none;
  }

  .hero {
    flex-direction: column;

    align-items: flex-start;

    padding: 50px 0;
  }

  .profile-container {
    align-self: center;

    transform: scale(0.85);
  }

  .section {
    padding: 55px 0;
  }

  .section h2 {
    font-size: 55px;
  }

  .timeline {
    margin-left: 20px;
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .contact-content {
    grid-template-columns: 1fr;
  }

  footer {
    flex-direction: column;

    gap: 10px;
  }
}

@media (max-width: 450px) {
  .palette {
    top: 15px;
  }

  .color {
    width: 28px;
    height: 28px;
  }

  .portfolio {
    margin-top: 70px;
  }

  .hero h1 {
    font-size: 50px;

    letter-spacing: -3px;
  }

  .skills-grid {
    grid-template-columns: 1fr;
  }

  .profile-container {
    transform: scale(0.75);

    margin-left: -20px;
  }
}
